@font-face{
    font-family: Roboto;
    src: url(/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}
body {
	background-image: url("stolentestpic.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

button.margin-right {
  margin-right: 20px;
}

