@font-face
{
    font-family: "Custom";
    src: url("Roboto_Mono/static/RobotoMono-Regular.ttf");
}
body
{
   text-align: center;
    background-color:#121212;
    font-family: Custom;
    background-image: url("NYCNIGHT.png");
    background-repeat: no-repeat;
    
}
h1{
    /*color: #bb86fc;*/
    font-size: xx-large;
    color: white;
    text-align: left;
    padding-left: 50px;
}
p
{
    color: white;
}
iframe{
    display: block;
    padding-left: 500px;
}